body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    background-image: url(./img/background.jpeg);
    background-size: cover;
}

#banner h1 {
    margin-top: 28vh;
    padding: 5% 0% 5% 0%;
    width: inherit;
    text-align: center;
    color: #EFEFEF;
    background-color: rgba(30, 30, 30, 0.70);
    font-size: 3em;
}

#content {
    width: 60vw;
    display: flex;
    flex-direction: column;
    color: #333333;
}

#top {
    font-size: 1.5em;
    padding: 0% 20% 0% 5%;
    margin: 0%;
}

#form {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 3% 25% 5% 5%;
}

#form p {
    font-size: 1.5em;
}

#form-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
}

.form-element {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.75em;
}

input {
    border: solid 0.5px;
    border-radius: 3px;
}

input:focus {
    border: 0px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

input:invalid {
    border: solid 0.5px rgb(120, 0, 0);
}

#bottom {
    padding: 2% 0% 0% 5%;
}

button {
    font-size: 1em;
    color: #EFEFEF;
    background-color: rgb(89, 116, 89);
    padding: 1% 5% 1% 5%;
    border: solid 0.5px rgb(42, 68, 42);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 10px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(89, 116, 89);
}